<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    backupGlobals="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    cacheDirectory=".phpunit.cache"
    backupStaticProperties="false">

  <coverage>
    <report>
       <html outputDirectory="html-coverage" lowUpperBound="50" highLowerBound="90"/>
    </report>
  </coverage>

  <testsuites>
    <testsuite name="demo-project">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <logging/>

  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>

  <php>
    <env name="APP_ENV" value="testing"/>
  </php>
</phpunit>
