name: Run PHP Code

on: [push]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    container: php:8.3-fpm
    steps:
        - name: 安裝依賴
          run: |
              apt-get update && apt-get install -y \
              libzip-dev \
              libonig-dev \
              build-essential \
              libpng-dev \
              libjpeg62-turbo-dev \
              libfreetype6-dev \
              locales \
              zip \
              jpegoptim optipng pngquant gifsicle \
              vim \
              unzip \
              git \
              curl \
              default-mysql-client
        - name: 安裝 PHP 擴展
          run: |
              docker-php-ext-install pdo_mysql mbstring zip exif pcntl
              docker-php-ext-configure gd --with-jpeg=/usr/include/ --with-freetype=/usr/include/
              docker-php-ext-install gd
        - name: 安裝 Xdebug
          run: |
              pecl install xdebug
              docker-php-ext-enable xdebug
        - name: 安裝 composer
          run: |
              php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
              php composer-setup.php
              php -r "unlink('composer-setup.php');"
              mv composer.phar /usr/local/bin/composer
        - uses: actions/checkout@v3
        - name: 使用 composer 安裝套件
          run: |
              composer install
        - name: 執行測試
          run: |
              XDEBUG_MODE=coverage composer test
        - name: 上傳測試報告
          uses: actions/upload-artifact@v4
          with:
            name: code-coverage-report
            path: html-coverage
  run-syntax-check:
    runs-on: ubuntu-latest
    container: php:8.3-fpm
    steps:
        - uses: actions/checkout@v3
        - name: 執行語法檢查
          run: |
            find ./src -name '*.php' -print0 | xargs -0 -n1 php -l
            find ./tests -name '*.php' -print0 | xargs -0 -n1 php -l
